.navbar-text {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1;
}

.c-nav-icon {
  display: flex;
  gap: 20px;
}

@media (max-width: 980px) {
  .c-nav-icon {
    display: none;
    gap: 20px;
  }
  .c-offcanvas{
    display: none;
  }
}
.cflex {
  display: flex;
}

.navbar-bg {
  background-color: rgba(251, 251, 253, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}
